@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	margin-top: 80px;
	text-align: center;;
	padding:0;
	box-sizing: border-box;	
	background-color: #541e91;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.Rule {
	font-size:5px;
	text-align:left;
}
#gc{ 
	outline: rgb(255, 255, 255) 3px solid;
}

